//card
.v-single-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ebeef5;
    background-color: #fff;
    .r(6px);
    .mb(10px);
    .mt(40px);
}

.m-single-question,
.m-single-answer {
    width: 100%;
    box-sizing: border-box;
    color: #303133;
}

.m-single-question {
    .w(100%);
    .u-number {
        .flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(90deg, #2682ea00 -50%, #2682ea 100%);
        .u-left {
            .h(50px);
            .flex;
            align-items: center;
            gap: 10px;
            .u-num {
                .size(50px);
                .fz(30px,50px);
                .x;
                .db;
                background-color: #2682ea;
                color: #fff;
            }
            .u-tag {
                .pointer;
                .fz(12px,1.8);
                .r(3px);
                background-color: #fff;
                color: #eee;
                font-size: 12px;
                border: 1px solid #eee;
                padding: 0 12px;
                &:hover {
                    background-color: #fff;
                    color: #222;
                }
            }
        }

        .u-tags {
            .pr(50px);
            .u-tag {
                .ml(10px);
            }
        }
        .u-right {
            padding-right: 20px;
            .flex;
            align-items: center;
            .fz(12px);
            a {
                .color(#fff);
            }
            .u-user {
                .mr(10px);
            }

            .u-label {
                background-color: #59a7fd;
                color: #f0f7ff;
                padding: 2px 5px;
                border-radius: 3px;
                margin-right: 5px;
                margin-left: 5px;
            }
        }
    }
    .u-cont {
        padding: 30px 50px;
        .u-title {
            .fz(20px);
            .bold;
            white-space: pre-line;
        }
        .u-hint {
            .db;
            .fz(20px, 1.8em);
            .mr(5px);
            // color: #2682ea;
            color: #888;
        }
        img {
            .auto(x);
            .db;
            .x;
        }
    }
}

.m-single-answer {
    border-top: 1px dashed #ddd;
    padding: 20px 40px;
    white-space: pre-line;
}

.v-single-card {
    .u-status {
        .fz(26px);
        .pb(20px);
        .bold;
        &.isCorrect {
            color: #18ca4e;
        }
        &.isWrong {
            color: #f12e2e;
        }
        &.noAnswers {
            color: #777;
        }
    }

    //选项
    .el-radio:hover,
    .el-checkbox:hover {
        background: #b6d7fc;
        color: #fff;
        div {
            color: #fff;
        }
    }
    .el-radio.is-disabled:hover,
    .el-checkbox.is-disabled:hover {
        background: #f5f8f8;
        color: #3d454d;
        div {
            color: #3d454d;
        }
    }

    .el-checkbox,
    .el-radio {
        .w(100%);
        margin-left: 0 !important;
        border-radius: 3px !important;
        .el-checkbox__label,
        .el-radio__label {
            .lh(2.2em);
            white-space: normal;
            display: flex;
            align-items: flex-start;
            div,
            p {
                .dbi;
            }
            .u-radio {
                .flex;
                align-items: flex-start;
                .u-num {
                    .fz(16px,28px);
                    .mr(10px);
                }
                .c-article {
                    .fz(12px,28px);
                }
            }
        }

        &.isCorrect {
            background: #1acb4f !important;

            .el-checkbox__label,
            .el-radio__label,
            div {
                color: white !important;
            }
            .c-article {
                color: white !important;
            }
            &.is-checked {
                background: #2682ea !important;
            }
        }
        &.isWrong {
            background: #f12e2e !important;

            .el-checkbox__label,
            .el-radio__label,
            div {
                color: white !important;
            }
            .c-article {
                color: white !important;
            }
        }
    }

    .el-radio.is-bordered,
    .el-checkbox.is-bordered {
        border-radius: 0;
        height: initial;
        padding: 12px;

        &.is-checked {
            background: #2682ea;
            color: white;
            .el-radio__label,
            .el-checkbox__label {
                color: white;
                div {
                    color: white;
                }
            }
        }
    }

    .el-radio,
    .el-checkbox {
        .mt(5px);
        .mb(5px);
        .auto(x);
        .r(5px);
        overflow: hidden;
        background: #f5f8f8;
        display: inline-block;
        border: none !important;
    }

    .el-checkbox__input,
    .el-radio__input {
        display: none;
    }

    .el-radio-group {
        .w(100%);
    }
}

.m-analysis .u-label {
    .fz(20px,2em);
    .bold;
    .color(#2682ea);
}
.c-article-tinymce p,
.c-article-tinymce div {
    .fz(14px,1.8);
}

@media screen and(max-width: @phone) {
    .v-single-card {
        flex-direction: column;
        padding: 10px 0;
        .u-number .u-tags {
            padding-right: 20px;
        }

        .u-cont {
            padding: 20px;
            .u-title .c-article {
                .pb(20px);
            }
        }
        .m-single-answer {
            padding: 20px;
        }
    }
    .m-single-question .u-number .u-right {
        .pr(0);
        .u-exam {
            .none;
        }
    }
}

.m-exam-submit {
    .size(30%, 40px);
    .lh(40px);
    .auto(x);
    .x;
    .mt(40px);

    .u-btn {
        .pointer;
        .full;
        .r(5px);
        .color(#fff);
        background-color: #49c10f;
        border-color: #49c10f;
        border: 0;
    }
    &.isSubmitted .u-btn {
        background-color: #999;
        border-color: #fff;
        border: 1px solid #888;
        &:hover {
            color: #fff;
        }
    }
}
