body {
    min-width: 1200px;
    background-color: #fff;
}
.p-event-content {
    .flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    gap: 40px;
    .clip;
}

@font: #555090;
.m-index {
    .r(20px);
    .clip;
    flex-shrink: 0;
    margin: 104px auto 40px auto;
    width: 1200px;
    min-height: 100vh;
    background: url("@{kv_exam}logo.svg") 60px 60px no-repeat;
}
.m-paper-box {
    .pf;
    .rt(0,50%);
    .w(128px);
    .z(9);
    .flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    .u-title {
        .w(1em);
        color: #fff;
        user-select: none;
    }
    .m-list {
        .flex;
        flex-direction: column;
        gap: 10px;
        .u-paper {
            .flex;
            .size(84px,28px);
            .r(5px);
            .bold;
            .pointer;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            color: @font;
            &.active {
                background-color: #ffe353;
            }
        }
    }
}
.m-header {
    .pr;
    .h(513px);
    .u-text {
        .pa;
        &-1 {
            .w(750px);
            .rt(-10px, 6px);
        }
        &-2 {
            .lt(86px,248px);
            .w(495px);
        }
    }
}

.m-exam {
    .flex;
    .pb(80px);
    flex-direction: column;
    height: 100%;
    background: url("@{kv_exam}grid.svg") top center no-repeat;
    .m-title {
        .size(376px,100px);
        .x;
        .r(10px);
        .lh(100px);
        .bold;
        .fz(48px);
        user-select: none;
        letter-spacing: 2px;
        align-self: flex-end;
        margin: 238px 24px 30px 0;
        color: @font;
        background-color: #fff; 
    }

    .m-content {
        .r(30px);
        height: calc(100% - 930px);
        padding: 30px;
        box-sizing: border-box;
        margin: 0 80px;
        background-color: #fff;
        min-height: 1000px;
    }
}

.el-loading-mask {
    .r(20px);
    .z(8);
    background-color: rgba(255, 255, 255, 0.5);
}
