@footer: 58px;

.m-list {
    .pa;
    .flex;
    .w(100%);
    .auto(x);
    .lt(0);
    .z(6);
    min-height: 840px;
    padding: 120px 30px 60px 30px;
    max-width: 1200px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 40px;
    .u-item {
        .flex;
        .pointer;
        .size(250px,600px);
        justify-content: center;
        align-items: center;
        position: relative;
        transition: 0.4s ease-in;
        .u-img {
            .full;
            box-sizing: border-box;
            border: 3px solid #000;
        }
        .u-title {
            .pa;
            .w(40px);
            .x;
            .bold;
            .z(2);
            .lb(0);
            .fz(20px);
            .color(#fff);
            writing-mode: vertical-rl;
            box-sizing: border-box;
            background-color: #000;
            padding: 20px 7px;
            letter-spacing: 3px;
        }
        .u-mark {
            .none;
            .full;
            background-color: #000;
        }
        &:hover {
            .u-img {
                .pa;
                .lt(-20px);
                border: 3px solid #fff;
            }
            .u-title {
                .lb(-20px,20px);
                background-color: #fff;
                color: #000;
            }
            .u-mark {
                .db;
            }
        }
    }
}

.m-mark {
    position: relative;
    background-color: #555090;
    height: calc(100vh - @footer + 64px);
    min-height: 800px;
    .mark {
        .full;
        .pa;
        .z(1);
        background-color: #000;
        opacity: 0.3;
    }
    .bg {
        .full;
        background: url("@{img}/event/bg.svg") repeat;
    }
    .left {
        .pa;
        .lb(0);
        .size(452px,525px);
        .z(2);
        background: url("@{img}/event/left.svg") no-repeat;
    }
    .right {
        .pa;
        .rb(0);
        .size(417px,428px);
        .z(2);
        background: url("@{img}/event/right.svg") no-repeat;
    }
    .title{
        .size(486px,65px);
        .pa;
        .lt(50%,64px);
        .ml(-243px);
        .fz(28px);
        .x;
        .z(2);
        .lh(65px);
        letter-spacing: 4px;
        color: #fff;
        background: url("@{img}/event/top.svg") no-repeat;
    }
}
