@footer: 58px;
@minH: 900px;
@maxH: 1080px;

.m-list {
    .mid(x);
    .w(100%);
    .z(6);
    .clip;
    max-width: 1200px;
    min-height: @minH;
    max-height: @maxH;
    padding: 160px 30px 30px 20px;
    box-sizing: border-box;
}
.m-list-scroll {
    .flex;
    .full;
    padding: 20px;
    overflow-x: auto;
    align-items: center;
    gap: 40px;
    &.isLittle {
        justify-content: center;
    }
    .u-item {
        .flex;
        .pointer;
        .size(250px,600px);
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: 0.4s ease-in;
        .u-img {
            .full;
            box-sizing: border-box;
            border: 3px solid #000;
            &:hover {
                img {
                    filter: brightness(75%);
                }
            }
        }
        .u-title {
            .pa;
            .w(40px);
            .x;
            .bold;
            .z(2);
            .lb(0);
            .fz(20px);
            .color(#fff);
            writing-mode: vertical-rl;
            box-sizing: border-box;
            background-color: #000;
            padding: 20px 7px;
            letter-spacing: 3px;
        }
        .u-mark {
            .none;
            .full;
            background-color: #000;
        }
        &:hover {
            .u-img {
                .pa;
                .lt(-20px);
                border: 3px solid #fff;
            }
            .u-title {
                .lb(-20px,20px);
                background-color: #fff;
                color: #000;
            }
            .u-mark {
                .db;
            }
        }
    }
}

.m-bg {
    .clip;
    position: relative;
    background-color: #555090;
    height: calc(100vh - @footer);
    min-height: @minH;
    max-height: @maxH;
    .u-mark {
        .full;
        .pa;
        .z(1);
        background-color: #000;
        opacity: 0.3;
    }
    .u-dot {
        .size(500%);
        background-image: url("@{img}/event/dot.png?123");
        animation: right 900s infinite linear;
        transform: translate(-100%);
        filter: brightness(120%);
        &::after {
            content: "";
            .db;
            .full;
            background-image: url("@{img}/event/dot.png?123");
            transform: translate(100%);
        }
    }

    .u-left {
        .pa;
        .lb(0);
        .size(452px,525px);
        .z(9);
        background: url("@{img}/event/left.svg") no-repeat;
    }
    .u-right {
        .pa;
        .rb(0);
        .size(417px,428px);
        .z(9);
        background: url("@{img}/event/right.svg") no-repeat;
    }
    .u-title {
        .size(486px,65px);
        .pa;
        .lt(50%,64px);
        .ml(-243px);
        .fz(28px);
        .x;
        .z(2);
        .lh(65px);
        letter-spacing: 4px;
        color: #fff;
        background: url("@{img}/event/top.svg") no-repeat;
    }
}

.m-navigation {
    ::-webkit-scrollbar-track {
        background: #000;
        border-radius: 10px;
        padding: 10px 0;
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 6px;
        height: 20px;
    }

    ::-webkit-scrollbar-thumb {
        cursor: pointer;
        border-radius: 10px;
        background: #fff;
        border: 7px solid #000;
        transition: color 0.2s ease;
    }
}

@keyframes right {
    form {
        transform: rotate(300deg) translate(-100%);
    }
    to {
        transform: rotate(300deg) translate(100%);
    }
}
@keyframes right_phone {
    form {
        transform: translate(-100%);
    }
    to {
        transform: translate(100%);
    }
}
@media screen and(max-width:@phone) {
    .m-bg {
        .u-left {
            .none;
        }
        .u-right {
            .size(208px,214px);
            background-size: 208px 214px;
        }
        .u-dot {
            .size(5000%,5000%);
            animation: right 900s infinite linear;
        }
    }
}
