.p-event-footer {
    background-color: #24292e;
}
.p-event-blindbox {
    .size(100%,1000px);
    .clip;
    .m-bg {
        .size(103%);
        filter: blur(10px);
        .ml(-20px);
        &:after {
            content: "";
            .pa;
            .db;
            .full;
            .lt(0);
            .z(1);
            background: rgba(0, 0, 0, 0.3);
        }
    }
    .p-event-content {
        .size(100%,1000px);
        .pa;
        .z(2);
        .lt(0);
        .flex;
        justify-content: center;
    }
}
.m-content {
    .flex;
    .size(100%);
    max-width: 1920px;
    box-sizing: border-box;
    background: url("@{kv_blindbox}bg.png") top center no-repeat;
}
.box {
    .r(15px);
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    background: #fff;
}
.m-left {
    .pr;
    .clip;
    flex: 1;
    .logo {
        margin: 80px 0 0 50px;
    }
    .m-box {
        .pa;
        .size(980px,460px);
        .lb(88px,0);
        .u-box {
            .pa;
            .size(244px, 208px);
            background: url("@{kv_blindbox}base.png") bottom center no-repeat;
            transition: all 0.4s ease 0s;

            .u-img {
                .pa;
                .pointer;
                .lt(50%);
                .size(158px,180px);
                margin: -168px 0 0 -80px;
                &:hover {
                    transform: translateY(-10px);
                }
            }
            &.active .u-img {
                animation: active_flash 2s;
            }
            .u-img {
                opacity: 0;
            }
            &:nth-child(1) {
                .lt(110px,0);
                .u-img {
                    animation: drop 1s ease-in forwards;
                }
            }
            &:nth-child(2) {
                .lt(374px,0);
                .u-img {
                    animation: drop 1s ease-in 0.1s forwards;
                }
            }
            &:nth-child(3) {
                .lt(638px,0);
                .u-img {
                    animation: drop 1s ease-in 0.2s forwards;
                }
            }
            &:nth-child(4) {
                .lt(-20px,154px);
                .u-img {
                    animation: drop 1s ease-in 0.3s forwards;
                }
            }
            &:nth-child(5) {
                .lt(244px,154px);
                .u-img {
                    animation: drop 1s ease-in 0.4s forwards;
                }
            }
            &:nth-child(6) {
                .lt(508px,154px);
                .u-img {
                    animation: drop 1s ease-in 0.5s forwards;
                }
            }
            &:nth-child(7) {
                .lt(772px,154px);
                .u-img {
                    animation: drop 1s ease-in 0.6s forwards;
                }
            }
            &:nth-child(8) {
                .lt(110px,308px);
                .u-img {
                    animation: drop 1s ease-in 0.7s forwards;
                }
            }
            &:nth-child(9) {
                .lt(374px,308px);
                .u-img {
                    animation: drop 1s ease-in 0.8s forwards;
                }
            }
            &:nth-child(10) {
                .lt(638px,308px);
                .u-img {
                    animation: drop 1s ease-in 0.9s forwards;
                }
            }
        }
        .u-mark {
            .none;
            .pa;
            .full;
            .z(3);
            &.active {
                .db;
            }
        }
    }
}

.m-right {
    .flex;
    .size(560px,100%);
    flex-shrink: 0;
    padding: 104px 100px 0 0;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-end;
    .m-point {
        .h(40px);
        .pl(90px);
        .fz(30px);
        .color(#000);
        .lh(48px);
        min-width: 180px;
        box-sizing: border-box;
        background: url("@{kv_blindbox}point.png") left bottom no-repeat;
    }

    .m-prize {
        .mt(8px);
        .w(446px);
        .pb(15px);
        overflow: hidden;
        .m-title {
            .flex;
            align-items: center;
            height: 40px;
            padding: 0 20px;
        }
        .m-item {
            .h(190px);
            overflow: hidden;
            .m-scroll-block {
                height: 100%;
                white-space: nowrap;
                display: inline-block;
                width: max-content;
                animation: scroll_prize 20s linear infinite;
                img{
                    height: 100%;
                }
            }
        }
    }
    .m-lottery {
        .pr;
        .flex;
        .mt(180px);
        .size(446px,348px);
        flex-wrap: wrap;
        gap: 30px;
        .u-img {
            .pointer;
            transition: 0.2s ease;
            &:hover {
                filter: brightness(110%);
                transform: scale(1.06);
            }
        }
        .refresh {
            .size(124px);
        }
        .random {
            .size(290px,124px);
        }
        .open {
            .size(446px,194px);
        }
        .m-history {
            .pa;
            .lb(-188px,0);
            min-height: 50px;
            min-width: 168px;
            .m-title {
                .pr;
                .flex;
                .h(50px);
                align-items: center;
                padding: 0 20px;
                .u-close {
                    .none;
                    .pa;
                    .rt(0);
                    .size(42px,81px);
                }
            }
            .m-history-content {
                .none;
                .size(600px,500px);
            }
            &.history {
                animation: open_history 1s;
                left: -640px;
                .m-history-content,
                .u-close {
                    .db;
                }
                &:hover {
                    transform: scale(1);
                    filter: brightness(100%);
                }
            }
            &.close {
                animation: close_history 1s;
            }
        }
    }
}

.m-goods {
    .none;
    .pa;
    .size(100%,1000px);
    .lt(0);
    .z(9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    gap: 70px;

    &.active {
        .flex;
        .m-item {
            animation: show_good 1s;
        }
    }
    .m-item {
        .flex;
        max-width: 1120px;
        flex-wrap: wrap;
        gap: 30px;
        .u-item {
            .size(200px,240px);
            box-sizing: border-box;
        }
    }
    .u-get {
        .pointer;
        .size(200px,60px);
    }
}
@keyframes active_flash {
    5% {
        transform: rotate(15deg);
    }
    10% {
        transform: rotate(-10deg);
    }
    15% {
        transform: rotate(5deg);
    }
    20% {
        transform: rotate(-5deg);
    }
    25% {
        transform: rotate(0deg);
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes drop {
        0% {
            top: -800px;
            opacity: 1;
        }
        100% {
            top: 50%;
            opacity: 1;
        }
    }

@keyframes scroll_prize {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

@keyframes open_history {
    from {
        left: -188px;
        width: 168px;
        height: 50px;
    }
    to {
        left: -640px;
        width: 600px;
        height: 550px;
    }
}
@keyframes close_history {
    from {
        left: -640px;
        width: 600px;
        height: 550px;
    }
    to {
        left: -188px;
        width: 168px;
        height: 50px;
    }
}
@keyframes show_good {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        transform: scaleX(1);
    }
}
