.m-namespace-box {
    .m-header {
        .fz(12px);
        .mb(20px);
        .color(#666);
        padding: 10px 20px;
        background-color: #f2f6fc;
        word-spacing: 2px;

        a {
            .color(#0366d6);
        }
        b {
            .color(#fba524);
        }
        span {
            margin-right: 5px;
        }
        .u-tip {
            .fz(14px, 2);
            margin-bottom: 10px;
        }
        a.el-button {
            .color(#fff);
            .mr(10px);
        }
        .u-count-txt {
            .mr(20px);
            .mb(10px);
        }
        .u-skip {
            .color(#f00);
        }
    }
    .u-submit{
        .mt(20px);
    }
}
