//mobile
.m-index{
    background: #000000;
    .mt(64px);
    .auto(x);
    .m-qrcode{
        .mt(50px);
        .auto(x);
        .size(35%)
    }
    .m-p1{
        .h(calc(100vh - 122px));
        background: url("@{kv_jianyuxiadao}p1-bg-m.png") no-repeat;
        background-size: 100%;
        .u-p1-bg{
            .h(100%);
            background: url("@{kv_jianyuxiadao}bg2.png") bottom no-repeat;
            background-size: 100% 100%;
        }
        .m-title{
            text-align: center;
           .pt(35vh);
            .u-ljcq{
                .mt(100px);
                zoom: 0.9;
            }

        }
    }
    .m-p2{
        .h(calc(100vh - 122px));
        background: url("@{kv_jianyuxiadao}p3-1.png") no-repeat,url("@{kv_jianyuxiadao}p2-bg-m.png")  no-repeat;
        background-position: 0 68vh,top center;
        background-size: auto,cover;
        .m-p2-content{
            .w(90%);
            .pt(16vh);
            .auto(x);
            text-align: center;
            .fz(32px,48px);
            color:#ffffff;
            .u-text{
                .mt(24px);
            }
        }
    }
    .m-p3{
        .h(calc(100vh - 122px));
        background: url("@{kv_jianyuxiadao}p2-1.png") bottom right 109px no-repeat,url("@{kv_jianyuxiadao}p2-bg-m.png") top center no-repeat;
        background-position: center 70vh,top center;
        background-size: auto,cover;
        .m-p3-content{
            .w(85%);
            .pt(16vh);
            .auto(x);
            text-align: center;
            .fz(32px,48px);
            color:#ffffff;
            .u-text{
                .mt(24px);
            }
        }
    }
    .m-p4{
        .h(calc(100vh - 122px));
        .h(calc(100vh - 122px));
        background: url("@{kv_jianyuxiadao}p2-bg-m.png") top center no-repeat;
        background-size: cover;
        .flex;
        .flex(o);
        .m-p4-title{
            text-align: center;
            .u-btn{
                zoom: 0.9;
                .mt(40px);
                .u-text{
                    color: #EDCA57;
                    .fz(48px);
                    .mt(50px);
                }
            }

        }
    }
}
